[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[windows]
row=2
col=0

[303a5aef-537f-4606-9005-09cbd48c4fa6]
row=0
col=0

[246F-3519]
row=1
col=0

[/]
row=3
col=0

[/home/loheagn]
row=4
col=0

