[Desktop Entry]
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
Comment[zh_CN]=
Comment=
Exec=/usr/bin/tilda
GenericName[zh_CN]=
GenericName=
Icon=tilda
MimeType=
Name[zh_CN]=Tilda
Name=Tilda
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
